<div class="card">
    <header class="card-header">
        <a href="#" data-toggle="collapse" data-target="#composition-body" aria-expanded="true" class="">
            <i class="icon-action fa fa-chevron-down"></i>
        </a>
        <span class="title"><b>Document (Composition)</b></span>
    </header>
    <div class="card-body collapse show" id="composition-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">
            Summary Date: {{date}}
            <br>
        </p>
    </div>
</div>