<div class="card">
    <header class="card-header">
        <a href="#" data-toggle="collapse" data-target="#composition-body" aria-expanded="true" class="">
            <i class="icon-action fa fa-chevron-down"></i>
        </a>
        <span class="title">Patient </span>
    </header>
    <div class="card-body collapse show" id="composition-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
            Birth Date: {{birthDate}}
            <br>
            Name: {{name.given}}, {{name.family}}
        </p>
    </div>
</div>